In [1]:
%matplotlib notebook
%matplotlib inline

In [2]:
import pandas as pd
import matplotlib as plt
import numpy as np
from scipy import stats
import time

In [3]:
csv_file=pd.read_csv('who_data.csv')

In [4]:
who_df=pd.DataFrame(csv_file)
who_df.head()

,country,code,region,income,year,che_gdp,che_pc_usd,dis23_che,pop,Difference in POP,Population Growth Rate(%),che_usd,dis23_usd_pc,pfc_usd_pc
0,Algeria,DZA,AFR,Lower-middle,2000,3.5,62,NaN,"30,775",NaN,NaN,"1,912",NaN,740
1,Algeria,DZA,AFR,Lower-middle,2001,3.8,67,NaN,"31,201",426,1.39,"2,101",NaN,767
2,Algeria,DZA,AFR,Lower-middle,2002,3.7,67,NaN,"31,625",424,1.36,"2,117",NaN,789
3,Algeria,DZA,AFR,Lower-middle,2003,3.6,76,NaN,"32,056",431,1.36,"2,444",NaN,857
4,Algeria,DZA,AFR,Lower-middle,2004,3.5,93,NaN,"32,510",454,1.42,"3,024",NaN,"1,012"

In [28]:
who_df.rename(columns={'Column1':'Population Growth Rate(%)','che_gdp':'Current Health Expenditure % of GDP',
                       'che_pc_usd':'Current Health Expenditure Per Capita (USD)',
                       'dis23_che':'Expenditure on Contraceptive Management as % of Current Health Expenditure',
                      'pop':'Population(thousands)', 'che_usd':'Current Health Expenditure(millions USD)',
                      'dis23_usd_pc':'Contraceptive Management Per Capita (USD)',
                      'pfc_usd_pc':'Consumption Expenditure Per Capita(USD)'},inplace=True)
#who_df.drop(['Unnamed: 14','Unnamed: 15'],axis=1,inplace=True)

In [7]:
who_df.replace(',','', regex=True, inplace=True)

In [29]:
who_df.head()

,country,code,region,income,year,Current Health Expenditure % of GDP,Current Health Expenditure Per Capita (USD),Expenditure on Contraceptive Management as % of Current Health Expenditure,Population(thousands),Difference in POP,Population Growth Rate(%),Current Health Expenditure(millions USD),Contraceptive Management Per Capita (USD),Consumption Expenditure Per Capita(USD)
0,Algeria,DZA,AFR,Lower-middle,2000.0,3.5,62.0,NaN,30775.0,NaN,NaN,1912.0,NaN,740.0
1,Algeria,DZA,AFR,Lower-middle,2001.0,3.8,67.0,NaN,31201.0,426.0,1.39,2101.0,NaN,767.0
2,Algeria,DZA,AFR,Lower-middle,2002.0,3.7,67.0,NaN,31625.0,424.0,1.36,2117.0,NaN,789.0
3,Algeria,DZA,AFR,Lower-middle,2003.0,3.6,76.0,NaN,32056.0,431.0,1.36,2444.0,NaN,857.0
4,Algeria,DZA,AFR,Lower-middle,2004.0,3.5,93.0,NaN,32510.0,454.0,1.42,3024.0,NaN,1012.0

In [9]:
who_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4032 entries, 0 to 4031
Data columns (total 14 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   country                    4032 non-null   object
 1   code                       4032 non-null   object
 2   region                     4032 non-null   object
 3   income                     4032 non-null   object
 4   year                       4032 non-null   int64
 5   che_gdp                    3960 non-null   float64
 6   che_pc_usd                 3960 non-null   object
 7   dis23_che                  301 non-null    float64
 8   pop                        3986 non-null   object
 9   Difference in POP          3840 non-null   object
 10  Population Growth Rate(%)  3794 non-null   float64
 11  che_usd                    3960 non-null   object
 12  dis23_usd_pc               301 non-null    float64
 13  pfc_usd_pc                 3986 non-null   object
dtypes: float64(4), int64(1), object(9)
memory usage: 441.1+ KB

In [25]:
who_df.iloc[:,4:].astype(np.float64,errors='ignore')

,year,che_gdp,che_pc_usd,dis23_che,pop,Difference in POP,Population Growth Rate(%),che_usd,dis23_usd_pc,pfc_usd_pc
0,2000.0,3.5,62.0,NaN,30775.0,NaN,NaN,1912.0,NaN,740.0
1,2001.0,3.8,67.0,NaN,31201.0,426.0,1.39,2101.0,NaN,767.0
2,2002.0,3.7,67.0,NaN,31625.0,424.0,1.36,2117.0,NaN,789.0
3,2003.0,3.6,76.0,NaN,32056.0,431.0,1.36,2444.0,NaN,857.0
4,2004.0,3.5,93.0,NaN,32510.0,454.0,1.42,3024.0,NaN,1012.0
...,...,...,...,...,...,...,...,...,...,...
4027,2016.0,4.5,125.0,NaN,93127.0,935.0,1.00,11617.0,NaN,1511.0
4028,2017.0,4.7,141.0,NaN,94033.0,907.0,1.00,13260.0,NaN,1619.0
4029,2018.0,5.0,164.0,NaN,94914.0,881.0,1.00,15588.0,NaN,1746.0
4030,2019.0,5.0,174.0,NaN,95777.0,862.0,1.00,16632.0,NaN,1864.0
4031,2020.0,4.7,166.0,NaN,96649.0,872.0,1.00,16066.0,NaN,1904.0

country                      4032
code                         4032
region                       4032
income                       4032
year                         4032
che_gdp                      3960
che_pc_usd                   3960
dis23_che                     301
pop                          3986
Difference in POP            3840
Population Growth Rate(%)    3794
che_usd                      3960
dis23_usd_pc                  301
pfc_usd_pc                   3986
dtype: int64